.slide {
  padding: 15px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.slide__img {
  width: 100%;
  margin: 0 0 35px 0;
}
.slide__img img {
  width: 100%;
  display: block;
}
.slide__title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 23px 0;
}
.slide__lead {
  font-size: 14px;
  margin: 0 0 34px;
}
.slide__button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.slide__button button {
  border: 1px solid #aaaaaa;
  padding: 4px 7px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
}

.swiper-slide {
  height: auto;
}

.swiper-button-prev {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 33%;
  left: 30px;
}
.swiper-button-prev:after {
  content: "";
  width: 24px;
  height: 24px;
  border: 8px solid #000;
  transform: translate(-50%, -50%) rotate(220deg);
  border-left: none;
  border-radius: 2px;
  border-bottom: none;
  position: absolute;
  top: 50%;
  left: 50%;
}

.swiper-button-next {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 33%;
  right: 30px;
}
.swiper-button-next:after {
  content: "";
  width: 24px;
  height: 24px;
  border: 8px solid #000;
  transform: translate(-50%, -50%) rotate(45deg);
  border-left: none;
  border-radius: 2px;
  border-bottom: none;
  position: absolute;
  top: 50%;
  left: 50%;
}

/*# sourceMappingURL=slider.css.map */
