* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.section {
  padding: 50px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  width: calc(100% + 30px);
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  padding: 0 15px;
}
.col--1 {
  width: calc(100% / 12 * 1);
}
.col--2 {
  width: calc(100% / 12 * 2);
}
.col--3 {
  width: calc(100% / 12 * 3);
}
.col--4 {
  width: calc(100% / 12 * 4);
}
.col--5 {
  width: calc(100% / 12 * 5);
}
.col--6 {
  width: calc(100% / 12 * 6);
}
.col--7 {
  width: calc(100% / 12 * 7);
}
.col--8 {
  width: calc(100% / 12 * 8);
}
.col--9 {
  width: calc(100% / 12 * 9);
}
.col--10 {
  width: calc(100% / 12 * 10);
}
.col--11 {
  width: calc(100% / 12 * 11);
}
.col--12 {
  width: calc(100% / 12 * 12);
}
@media (max-width: 768px) {
  .col {
    width: 100%;
  }
}

.tile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 45px 0;
  margin: 15px 0;
}
.tile__text {
  font-size: 40px;
  line-height: 1.2em;
  color: #000;
  width: 100%;
  text-align: center;
}
.tile__text--small {
  font-size: 24px;
}
.tile--h200 {
  height: 200px;
  padding: 0;
}
.tile--yellow {
  background-color: #f3b700;
}
.tile--border {
  border: 1px solid black;
}

/*# sourceMappingURL=style.css.map */
