$yellow: #f3b700;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.section {
  padding: 50px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  width: calc(100% + 30px);
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  padding: 0 15px;

  @for $i from 1 through 12 {
    &--#{$i} {
      width: calc(100% / 12 * #{$i});
    }
  }
  @media(max-width: 768px) {
    width: 100%;
  }
}

.tile {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 45px 0;
  margin: 15px 0;

  &__text {
    font-size: 40px;
    line-height: 1.2em;
    color: #000;
    width: 100%;
    text-align: center;

    &--small {
      font-size: 24px;
    }
  }

  &--h200 {
    height: 200px;
    padding: 0;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--border {
    border: 1px solid black;
  }

}

.slide {

}
