<style src="../assets/style/slider.css">

</style>
<template>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col col--12">
                    <Swiper
                            :slides-per-view="3"
                            :space-between="30"
                            :navigation="true"
                            :modules="modules"
                    >
                        <SwiperSlide v-for="(el,index) in slides" :key="index">
                            <div class="slide">
                                <div class="slide__top">
                                    <div class="slide__img">
                                        <img v-if="el.img.length > 0" :src="el.img" alt="">
                                        <img v-else src="https://dummyimage.com/385x325/21c2bf/fff" alt="">
                                    </div>
                                    <h3 class="slide__title">
                                        {{el.name}}
                                    </h3>
                                    <p class="slide__lead">
                                        {{el.lead}}
                                    </p>
                                </div>

                                <div class="slide__button">
                                    <button>Czytaj</button>
                                </div>

                            </div>

                        </SwiperSlide>

                    </Swiper>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {Navigation} from "swiper";
    import {Swiper, SwiperSlide} from 'swiper/vue';


    import 'swiper/css';

    import "swiper/css/pagination";
    import "swiper/css/navigation";

    export default {
        name: 'MySlider',
        components: {
            Swiper,
            SwiperSlide,
        },
        props: {
            slides: {
                type: Array,
                required: true
            }
        },
        setup() {
            return {
                modules: [Navigation],
            };
        },

    }
</script>


