<style src="./assets/style/style.css"></style>

<template>
    <div>
        <section class="section">

            <div class="container">
                <div class="row">
                    <div class="col col--12">
                        <div class="tile tile--border">
                            <p class="tile__text tile__text--small">
                                container width: 1170px

                            </p>
                            <p class="tile__text tile__text--small">
                                gutter: 30px
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col--3">
                        <div class="tile tile--h200 tile--border">
                            <p class="tile__text">1</p>
                            <p class="tile__text">height: 200px</p>
                        </div>
                    </div>
                    <div class="col col--6">
                        <div class="tile tile--h200 tile--border">
                            <p class="tile__text">2</p>
                            <p class="tile__text">height: 200px</p>
                        </div>
                    </div>
                    <div class="col col--3">
                        <div class="tile tile--h200 tile--border">
                            <p class="tile__text">3</p>
                            <p class="tile__text">height: 200px</p>
                        </div>
                    </div>
                    <div class="col col--9">
                        <div class="row">
                            <div class="col col--6">
                                <div class="tile tile--h200 tile--border">
                                    <p class="tile__text">4</p>
                                    <p class="tile__text">height: 200px</p>
                                </div>
                            </div>
                            <div class="col col--6">
                                <div class="tile tile--h200 tile--border">
                                    <p class="tile__text">5</p>
                                    <p class="tile__text">height: 200px</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col--3">
                        <div class="tile tile--h200 tile--border">
                            <p class="tile__text">6</p>
                            <p class="tile__text">height: 200px</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <MySlider
         :slides="slides"/>
    </div>

</template>

<script>

    import MySlider from './components/MySlider';

    import axios from 'axios';

    export default {
        name: 'App',
        components: {
            MySlider
        },
        data() {
            return {
                slides: []
            }
        },
        mounted() {
            axios
                .get('https://quantoo.pl/jobs/api/swiper/list.json')
                .then(response => (this.slides = response.data.items))
        }

    }
</script>


